@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-light-gray: #C4C3E3;
  --color-brand-purple: #504E76;
  --color-brand-cream: #FDF8E2;
  --color-brand-olive: #A3B565;
  --color-brand-sand: #FCDD9D;
  --color-brand-orange: #F1642E;
  --color-brand-light: #F5F5F5;
  --color-brand-dark: #1F1F1F;
}

* {
  font-family: 'Manrope', sans-serif;
}

body {
  background: var(--color-brand-light);
  color: var(--color-brand-dark);
}